---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
        "variables",
        "base",
        "layout",
        "syntax-highlighting"
;

@font-face {
  font-family: "paragraph";
  src: url('../fonts/paragraph.woff') format('woff'); }

@font-face {
  font-family: "paragraph-bold";
  src: url('../fonts/paragraph-bold.woff') format('woff'); }

@font-face {
  font-family: "paragraph-title";
  src: url('/fonts/paragraph-title.woff') format('woff'); }
