---
layout: default
---

<table>
  <tr>
    <td id="intro">
		<h2>About me</h2>
		<p>I am a PhD candidate at the Computational Linguistics and Psycholinguistics Research Group (<a href="https://www.uantwerpen.be/en/research-groups/clips/">CLiPS</a>) in Antwerp, Belgium. My promotor is <a href="https://www.clips.uantwerpen.be/~walter/">Walter Daelemans</a> and I am co-promoted by <a href="https://www.uantwerpen.be/en/staff/peter-vanaelst/">Peter van Aelst</a>.</p>
		<p>My promotors and myself make up three of the nine members on the <a href="https://www.uantwerpen.be/nl/projecten/nws-data/">NWS Data project</a>. The project aim is to investigate how people nowadays inform themselves on actualities, specifically news events and elections. Since new media is at the core of all these interests, challenging NLP problems pop up. I keep myself busy working on them. Since this is also a personal interest blog, I may post some unrelated projects as well.</p>
    </td>
    <td><img class="avatar" src='{{ site.baseurl }}/img/tim.jpg'></td>
    <td class="spacer"></td>
  </tr>
</table>

<h2>Contact</h2>


<img src="{{ site.baseurl}}/img/icon-email.png"> tjkreutz [ at ] gmail [ dot ] com
<img src="{{ site.baseurl}}/img/icon-phone.png"> +316 16720341
<a href="https://bitbucket.org/tjkreutz"><img src="{{ site.baseurl}}/img/icon-bitbucket.png">/tjkreutz</a>
<a href="https://github.com/tjkreutz"><img src="{{ site.baseurl}}/img/icon-github.png">/tjkreutz</a>
<a href="https://twitter.com/tjkreutz"><img src="{{ site.baseurl}}/img/icon-twitter.png">@tjkreutz</a>

<h2>Recent</h2>

<table>
  {% for post in site.posts %}
  {% if post.type != "plog" %}
  <tr>
  {% assign currentyear = post.date | date: "%Y" %}
  {% assign currentmonth = post.date | date: "%b" %}
  {% if currentyear != year %}
    {% assign year = currentyear %}
    {% assign month = "1990" %}
    <td valign="baseline"><h1 class="year">{{ currentyear }}</h1></td>
    {% else %}
    <td class="hierarchy"></td>
  {% endif %}
  {% if currentmonth != month %}
    {% assign month = currentmonth %}
    <td valign="baseline"><span class="hierarchy">{{ currentmonth }}
    {% else %}
    <td><span class="hierarchy">
  {% endif %}
  {{ post.date | date: "%-d" }}</span><b><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></b>
  <p class="post-meta">Last modified: {{ post.date | date_to_string }} | keywords: {{ post.keywords | default: "" | array_to_sentence_string }}.</p></td>
  <td><img class="thumbnail" src={{ post.thumbnail | default: "/img/thumbnail-default.png" | prepend: site.baseurl }}></img></td>
  <td class="spacer"></td>
  </tr>
  {% endfor %}
</table>
