<header class="site-header">

  <div class="wrapper">
    <ul>
      <li><a href="{{ site.baseurl }}/"><b>Tim Kreutz</b></a></li>
      <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/plog/">Plog</a></li>
      <li><a href="{{ site.baseurl }}/musicmood/">Music Mood</a></li>
      <li><a href="{{ site.baseurl }}/nieuwstwiets/">Nieuwstwiets</a></li>
      <li><a href="{{ site.baseurl }}/files/CV-TimKreutz-EN.pdf">CV</a></li>
    </ul>
    <hr>
  </div>

</header>
