<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <textarea id="source">
class: middle, center
layout: true
        
{% include_relative {{page.path | replace: "_plog/", ""}} %} 
    </textarea>
    <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create({
          slideNumberFormat: function (current, total) {
              if (current > 1) {
                  return String(current-1) + " / " + String(total-1);
              } else {
                  return ""
              }
          }
      });
    </script>
  </body>
</html>