---
layout: default
---

<h2>Publications</h2>

<table>
  {% for publication in site.publications %}
  <tr>
    {% assign currentyear = publication.date | date: "%Y" %}
    {% assign currentmonth = publication.date | date: "%b" %}
    {% if currentyear != year %}
      {% assign year = currentyear %}
      <td valign="baseline"><h1 class="year">{{ currentyear }}</h1></td>
      {% else %}
      <td class="hierarchy"></td>
    {% endif %}
    <td valign="baseline">
      <span class="hierarchy">{{ currentmonth }} {{ publication.date | date: "%-d" }}</span>
      <b><a href="{{ publication.url | prepend: site.baseurl }}">{{ publication.title }}.</a></b>
      <p>{{ publication.authors | array_to_sentence_string }} ({{ publication.date | date: '%Y' }}).<p> <p class="post-meta">{{ publication.place }}.</p>
    </td>
  </tr>
  {% endfor %}
</table>